@import url(reset.css);
@import url(font.css);
body {
  background-color: #dddddd;
  font-size: 10px;
  color: #fe4225; }

h1 {
  font-size: 48px;
  color: red; }
  h1 span {
    color: blue;
    font-size: 20px; }

.head {
  width: 100%;
  background-color: #ff9393; }
  .head .menu {
    background-color: #8bff91;
    width: 400px; }
    .head .menu #submemu li {
      font-size: 20px;
      color: #60ffff; }

.box {
  max-width: 0; }
