* {
    margin: 0;
    padding: 0;
}

.section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}




.box {
    width: 300px;
    height: 50px;
    position: relative;
    background-color: rgb(80, 255, 188);
    margin-bottom: 10px;
    // box-shadow: 0px 0px 10px rgb(124, 124, 124);
}

.section_01 {
    background-color: rgb(97, 184, 255);
    .box_02{
     background-color: rgb(247, 23, 23);
    }

}


.section_03 {
    background-color: rgb(211, 211, 211);

}

%methoe {
    width: 100px;
    height: 30px;
    background-color: rgb(115, 140, 253);
    margin-top:10px; 
    cursor: pointer;
}

#btn_play {
 @extend %methoe;
}


#btn_stop {
  @extend %methoe;
}



.title {
 text-align: center;
}

.box_09 {
   background-color:lighten( rgb(204, 112, 112),  8) 
}

.box_10 {
    background-color:lighten( rgb(240, 206, 15),  6) 
 }


 .box_11 {
    background-color:lighten( rgb(118, 214, 28),  4) 
 }

 .box_12 {
    background-color:lighten( rgb(27, 73, 158),  2) 
 }