* {
    margin: 0;
    padding: 0;
}

.section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}


.center {

    margin: 0 auto;
    text-align: center;
}

.box {
    width: 300px;
    height: 50px;
    position: relative;
    background-color: rgb(80, 255, 188);
    margin-bottom: 10px;
    // box-shadow: 0px 0px 10px rgb(124, 124, 124);
}

.section_01 {
    background-color: rgb(97, 184, 255);

    .box_02 {
        background-color: rgb(247, 23, 23);
    }

}


.section_03 {
    background-color: rgb(211, 211, 211);

}

%methoe {
    width: 100px;
    height: 30px;
    background-color: rgb(115, 140, 253);
    margin-top: 10px;
    cursor: pointer;
}

#btn_play {
    @extend %methoe;
}


#btn_stop {
    @extend %methoe;
}



.title {
    text-align: center;
}

.box_09 {
    background-color: lighten(rgb(204, 112, 112), 8)
}

.box_10 {
    background-color: lighten(rgb(240, 206, 15), 6)
}


.box_11 {
    background-color: lighten(rgb(118, 214, 28), 4)
}

.box_12 {
    background-color: lighten(rgb(27, 73, 158), 2)
}

.section_04 {
    background-color: rgb(247, 34, 34);
    padding-top: 100px;
}

.section_05 {
    padding: 100px 10px;

    .item {
        width: 32%;
        display: inline-block;
    }
}

.section_06 {
    padding-top: 100px;
    background-color: rgb(255, 231, 166);

    .select {
        background-color: rgb(241, 50, 50);
    }
}


.section_07 {
    overflow: hidden;

    .bgall {
        width: 100%;
        height: 100vh;
        background-image: url(https://placem.at/places);
        background-color: #000;
        background-size: cover;
        transform-origin: center;
        transform: scale(1.2);
        transition: transform 3s ease-out;
        will-change: transform;
        position: relative;
        z-index: 0;

        &.on {
            transform: scale(1);
        }

        // .trllbox {
        //     width: 200px;
        //     height: 80px;
        //     background-color: rgb(8, 144, 168);
        //     position: relative;
        //     z-index: 1;
        //     top: 400

        // }
    }

}

.section_08 {
    background-color: rgb(182, 238, 255);

    .scrollbox_01 {
        background-color: rgb(255, 185, 185);
    }

    .scrollbox_02 {
        background-color: rgb(255, 251, 191);
    }

    .scrollbox_03 {
        background-color: rgb(218, 185, 255);
    }
}