@mixin margin() {
    margin-left: auto;
    margin-right: auto;
}


@mixin marginvalue($width) {
    width: $width;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: rgb(191, 255, 166);
}


@mixin link($l, $v, $h, $a) {

    a {

        &:link {
            color: $l;
        }

        /* 已連結過 */
        &:visited {
            color: $v;
        }

        /* 已連結過 */
        &:visited {
            color: $v;
        }

        /* 選擇的連結 */
        &:active {
            color: $a;
        }
    }

}



@mixin btn($width:100px, $height: 30px, $bgc:#c0c0c0, $center:null) {
    width: $width;
    height: $height;
    background-color: $bgc;
    text-align: $center;
}


@mixin btn-module($className, $width, $height, $bgc) {
    #{$className} {
        width: $width;
        height: $height;
        background-color: $bgc;
    }
}


@mixin bodysetting ($fontSizes) {
    body {
        font-size: $fontSizes;

        h1 {
            font-size: $fontSizes * 4
        }

        h2 {
            font-size: $fontSizes * 3.5
        }

        h3 {
            font-size: $fontSizes * 2.8
        }

        h4 {
            font-size: $fontSizes * 2
        }

        h5 {
            font-size: $fontSizes * 1.4
        }
    }
}



//rwd


@mixin respond ($breakpoint) {


    @if $breakpoint=='mobile' {

        //手機
        @media all and (max-width: $mb) {

            @content;
        }
    }


    @else if $breakpoint=='medium' {

        ///平板
        @media all and (min-width: $md) {
            @content;
        }
    }


    @else if $breakpoint=="desktop" {

        // 桌機
        @media all and (min-width: $dt) {

            @content;

        }
    }
}